@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background: radial-gradient(#f6c 15%, rgba(0,0,0,0) 16%), radial-gradient(#6cf 15%, rgba(0,0,0,0) 16%), #fc0;
    background-position: 0 0, 30px 30px;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 60px 60px;
  }
  

  /* Loader */


.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #10e9f0;
  background: 
    conic-gradient(from 90deg at 3px 3px,#0000 90deg,currentColor 0)
    -3px -3px/calc(50% + 1.5px) calc(50% + 1.5px);
  animation: l28 2s infinite;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: repeating-conic-gradient(#0000 0 35deg,currentColor 0 90deg);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
  border-radius: 50%;
}
.loader::after {
  margin: 20%;
}
@keyframes l28 {
  100% {transform: rotate(1turn)}
}